body {
  margin: 5px auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #615669;
  font-size: 20px;
  line-height: 35px;
  border: none;
  font-family: Rubik,sans-serif
}
body p,
h1,
h2 {
  line-height: 2;
  margin-top: 35px;
  margin-bottom: 2px
}
header {
  background-image: url("../img/oogie-moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #c7c8b5;
  text-align: center;
  padding-top: 24px;
  padding-bottom: .5px
}
header h1 {
  color: #f1ec81;
  font-size: 65px;
  -webkit-text-stroke: 3px #615669
}
header img {
  background-color: transparent;
  border-radius: 170px;
  border: 9px solid #615669;
  width: 300px
}
main {
  max-width: 800px;
  margin: 0 auto
}
main img {
  max-width: 100%
}
img {
  margin-top: 35px
}
h2 {
  font-size: 38px;
  color: #e4beff;
  -webkit-text-stroke: 2px #26202a;
  text-align: center
}
h3 {
  font-size: 16px;
  color: #f1ec81
}
p {
  color: #faebd7;
  text-align: justify
}
a {
  color: #faebd7
}
p.caption a {
  color: #f1ec81
}
a:hover {
  color: #f1ec81
}
p.caption a:hover {
  color: #faebd7
}
footer {
  background-color: #26202a;
  text-align: center;
  padding: 35px
}
li {
  color: #faebd7
}
p.caption {
  color: #f1ec81;
  font-style: italic;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 35px
}
footer p {
  margin: 0;
  text-align: center
}